.gift
  input.gift__input.input(type=type, placeholder='Введите подарочный сертификат', value=value)
  .gift__button
    button.button Применить
  //- .gift__used-block
  //-   input.gift__input.gift__input--used.input(disabled=true, type=type, placeholder='SL-18OE5-DQPKEKE', value=value)
  //-   .gift__used-remove 
